body {
}
.main{
    margin: 0 auto;
    width: 400px;
}
.labelStyle{
    margin: 0;
    padding: 0;
}
.textbox{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}
.radio{
    Font-Size: 10pt;
    Font: bold italic;  
}
.button{
    margin-top: 20px;
}
.error {
     Font-style: Italic;
     Font-Size: 10pt; 
     Color: Red;
    margin-top: 0px;
}

form {
    width: 600px;
    height: auto;
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}